#footer {

    #contact-info {
        width: 95%;
        min-height: 15vh;
        grid-template-columns: 1.2fr 1fr 1.2fr;
        column-gap: 1vw;
        
        .info {
            
            h3 {
                @include h-font(1.2rem);
            }
                
            p {
                @include p-font(1rem);
                line-height: 1.8;
            }    
        }           
    }
    
    #copyright {
    
        p {
        @include p-font(1rem);
        }
    } 
}