#footer {

    #contact-info {
        width: 90%;
        min-height: 20vh;
        grid-template-columns: 6fr 2fr 6fr;
        column-gap: 1vw;
        
        .info {
            
            h2 {
                @include h-font(1.5rem);
            }
                
            p {
                @include p-font(1.2rem);
                line-height: 1.8;
            }    
        }           
    }
    
    #copyright {
        height: 8vh;

        p {
        @include p-font(1.2rem);
        }
    } 
}