#header {
    width: 100%;
    min-height: 15vh;
    display: grid;
    grid-template-columns: 15vw auto 30vw 0vw;
    row-gap: 0.2vh;
    justify-items: center;
    align-items: center; 

    img {
        width: 80%;
        display: block;
    }

    #dropdown-menu {
        position: relative;
        display: grid;
        justify-items: center;
        align-items: center;
        width: 90%;
        height: 100%;
        
        &:hover #dropdown-content {
            display: block;
        }

        &:hover img {
            display: block;
        }

        img {
            width: 30%;
            cursor: pointer;
            position: absolute;
            top: 3vh;
        }

        #dropdown-content {
            display: none;
            position: absolute;
            top: 7vh;

            a {
                @include a-font(1rem, $color-1);
                width: 100%;
                padding: 0.2em;
                margin: 0.3em 0 0.3em 0;
        
                &:link, &:visited {
                    background-color: $color-2;
                }
        
                &:hover {
                    background-color: $color-3;  
                }
        
                &:active {
                    background-color: $color-1;
                }
        
                &.currentLink {
                    background-color: $color-5;
                }
            }
        }
    }

    #desktop-menu {
        display: none;
    }
}