#menu-header {
    min-height: 25vh;
}

#hamberger-menu {

    #menu-header-content {
        top: 58vh;
        height: 30vh;

        a {
            @include a-font(1.2rem, $color-1);
        }
    }
}
