#menu-header {
    width: 100%;
    min-height: 30vh;
    display: grid;
    grid-template-columns: 4fr 3fr 2fr 3fr;
    justify-items: center;
    align-items: center;
    background-color: lightgrey;

    h1 {
        @include h-font(1.5rem);
        color: $color-6;
    }
}

#hamberger-menu {

    #menu-checkbox {
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0;
        z-index: 5;
        }

    #menu-checkbox:checked ~ #menu-header-content {
        left: 0;
        opacity: 1;
        transition: all 0.5s ease-in-out;
    }

    #hamburger-container {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 50px;
        height: 40px;
        z-index: 4;
        position: relative;

        .hamburger-line {
            width: 30px;
            height: 4px;
            background-color: $color-6;
        }
    }

    #menu-header-content {
        transition: all 0.5s ease-in-out;
        position: absolute;
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        top: 82vh;
        opacity: 0;
        height: 30vh;
        background-color: $color-4;

        a {
            @include a-font(1rem, $color-1);
            font-weight: normal;
            text-shadow: 0 1px 1px $color-6;

            &:link, &:visited {
                color: $color-1;
            }
    
            &:hover {
                color: $color-6;
                text-shadow: 0 1px 1px $color-5;  
            }
    
            &:active {
                color: $color-6;
                text-shadow: 0 1px 1px $color-5;
            }
        }
    }
}
