@mixin a-font($a-font-size, $color-1) {
    display: block;
    font-size: $a-font-size;
    font-family: 'Open Sans';
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    color: $color-1;
}

@mixin h-font($h-font-size) {
    font-family: 'Open Sans';
    font-size: $h-font-size;
    text-align: center;
}

@mixin p-font($p-font-size) {
    font-size: $p-font-size;
    font-family: 'Open Sans';
    text-align: center;
    line-height: 1.5em;
}

@mixin animate-a($font-size, $color-3, $color-1, $animation-duration) {
    font-size: $font-size;
    font-weight: bold;
    color: $color-3;
    background-color: $color-1;
    transition: all $animation-duration linear;
}