/*Header starts*/
@import 'header-desktop';
/*Header ends*/

#main-title {
    min-height: 40vh;
    background-position: center;

    h1 {
        width: 45%;
        left: 35%;
        bottom: 60%;
        line-height: 10vh;
    }

    #discount {
        bottom: 40%;
        width: 33%;
        left: 41%;
        text-align: left;
        padding-left: 1em;
    }

    #phone-tablet-desktop {
        @include p-font(1.5rem);
        color: $color-1;
        display: block;
        position: absolute;
        left: 42%;
        bottom: 15%;
        text-shadow: 1px 1px 1px $color-6;
    }
}

@import 'menu-dropdown-menu-desktop';

#go-to-top {
    bottom: 25vh;
    left: 94vw;
    
    a {
        @include a-font(1rem, $color-1);  
    }   
}

@import 'menu-menu-content-desktop';



/*Footer starts*/
@import '_footer-desktop';
/*Footer ends*/