@import 'header-desktop';

#main-title {
    min-height: 40vh;
    background: url(../images/about-backgroundimage-pizza-3.jpg);
    background-position: right;

    div {
        h1 {
            @include h-font(3rem);
            width: 100%;
            line-height: 6vh;
            text-align: left;
            margin-top: 0;
        }
    
        p {
            @include p-font(1.5rem);
            text-align: left;
            width: 100%;
        }

        h2 {
            @include h-font(1.5rem);
            color: $color-2;
            display: block;
            text-align: left;
        }
    }
}

#go-to-top {
    bottom: 14vh;
    
    a {
        @include a-font(1rem, $color-1);  
    }   
}

#story-container {
    width: 80%;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2vw;
}

.story-item {
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 100%;
    box-shadow: 2px 2px 2px $color-4;

    .item-image {
        height: 40vh;
        align-items: top;
        margin-top: 2vh;
    }

    .item-text {
        min-height: 55vh;
        align-items: top;
        margin-top: 3vh;
    
        h2 {
            height: 5vh;
        }

        p {
            @include p-font(0.9rem);
            color: $color-6;
            text-align: center;
            width: 90%;
            margin-bottom: 2vh;
            line-height: 4vh;
        }
    }
}

#order-info-tablet-desktop {
    width: 80%;
    min-height: 30vh;
    row-gap: 0;

    .button-background {
        @include a-font(1.8rem, $color-1); 
        width: 40vw; 
        padding: 1.2em;
    }
}

#bottom-content {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3vh;

    .bottom-image {
        
        img {
            width: 100%;
            height: 45vh;
        }
    }
}

/*Footer starts*/
@import '_footer-desktop';
/*Footer ends*/