/*Header starts*/
@import '_header-tablet';
/*Header ends*/

/*Content starts*/
#main-title {
    min-height: 45vh;
    grid-template-columns: 35% 65%;

    div {

        h1 {
            padding-left: 1em;
        }
    
        p {
            padding: 0.3em 0.3em 0.3em 2em;
        }
    
        a {
            display: none;
        }
    
        h2 {
            @include h-font(1.5rem);
            color: $color-1;
            display: block;
            text-align: left;
            padding-left: 2em;
        }
    } 
}

@import 'menu-dropdown-menu-tablet';

#go-to-top {
    bottom: 40vh;
    left: 95vw;
    width: 3%;
}

@import 'menu-menu-content-tablet';

#order-info {
    display: none;
}
/*Content ends*/

/*Footer starts*/
@import '_footer-tablet';