/*Header starts*/
@import 'header-desktop';
/*Header ends*/

#main-title {
    min-height: 45vh;
    grid-template-columns: 20% 80%;
    justify-items: center;
    align-items: center;

    div {

        h1 {
            padding-left: 0;
            text-align: center;
        }
    
        p {
            width: 100%;
            padding: 0.3em 0.6em 0.3em 0.6em;
            text-align: center;
        }
    
        a {
            display: none;
        }
    
        h2 {
            @include h-font(1.5rem);
            color: $color-1;
            display: block;
            text-align: center;
            padding-left: 0;
        }
    } 
}

#menu-header {
    display: none;
}

#menu-desktop {
    width: 95%;
    min-height: 10vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    column-gap: 1vw;

    a {
        @include a-font(1rem, $color-1);
        width: 100%;
        padding: 0.4em;
    
        &:link, &:visited {
            background-color: $color-2;
        }
    
        &:hover {
            background-color: $color-3;  
        }
    
        &:active {
            background-color: $color-4;
        }
    }

}

#go-to-top {
    bottom: 10vh;
    left: 90vw;
    width: 5%;
    
    a {
        @include a-font(1rem, $color-1);  
    }   
}

@import 'menu-menu-content-desktop';



/*Footer starts*/
@import '_footer-desktop';
/*Footer ends*/