@import '_mixins';
@import '_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    display: grid;
    justify-items: center;
    align-items: center; 
}

/*Header starts*/
@import '_header-mobile';
/*Header ends*/

/*Content starts*/
#content {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-row-gap: 3vh;
    justify-items: center;
    align-items: center;
}

#main-title {
    width: 100%;
    min-height: 70vh;
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background: url(../images/about-backgroundimage-pizza.jpg);
    background-size: cover;
    background-position: top;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: top;
    position: relative;

    h1 {
        @include h-font(2.5rem);
        color: $color-1;
        font-weight: bold;
        text-align: left;
        line-height: 8vh;
        width: 50%;
        position: absolute;
        left: 15%;
        bottom: 50%;
        text-shadow: 0 2px 2px $color-3;
    }

    P {
        @include p-font(1.5rem);
        color: $color-1;
        font-weight: normal;
        line-height: 5vh;
        position: absolute;
        left: 15%;
        bottom: 25%;
        text-align: left;
        width: 70%;
        text-shadow: 0 2px 2px $color-3;
    }

    a {
        @include a-font(1rem, $color-1);
        width: 40vw;
        border: 0.1em solid $color-1;
        text-align: center;
        position: absolute;
        left: 15%;
        bottom: 15%;

        &:link, &:visited {
            color: $color-1;
            background-color: $color-3;
            padding: 0.3em;
        }
    
        &:hover, &:active {
            color: $color-3;
            background-color: $color-1;
            padding: 0.4em;
            font-size: 1.2rem;
        }
    }
}

#go-to-top {
    position: fixed;
    bottom: 15vh;
    right: 0;
    width: 5%;
    min-height: 20vh;
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 10;
    
    a {
        @include a-font(0.8rem, $color-1);  
        width: 100%;
        padding: 0.6em;
        box-shadow: 1px 1px 2px $color-5; 
        opacity: 1;

        &:link, &:visited {
            background-color: $color-3;
        }
                
        &:hover, &:active {
            background-color: $color-5;
            
        }
    }   
}

/*Top-content starts*/
#top-content {
    width: 90%;
    min-height: 80vh;
    display: grid;
    row-gap: 2vh;
    align-items: center;
    justify-items: center;
    border: 1px solid $color-6;

    img {
        display: block;
        width: 90%;
        height: 40vh;
        object-fit: cover;
        margin-top: 3vh;
    }
}

#top-text {
    width: 90%;
    line-height: 4vh;
    display: grid;
    align-items: center;
    justify-items: center;

    h2 {
        @include h-font(1.5rem);
        font-weight: bold;
        color: $color-6;
        text-align: center;
        margin-bottom: 1em;
        padding-bottom: 0.3em;
        box-shadow: 0px 1px 1px $color-6;
        width: 90%;
    }

    p {
        @include p-font(1rem);
        color: $color-6;
        text-align: center;
        width: 90%;
        margin-bottom: 2vh;
    }
}
/*Top-content ends*/

/*Sub-content starts*/
#sub-content {
    width: 90%;
    min-height: 60vh;
    display: grid;
    row-gap: 2vh;
    align-items: center;
    justify-items: center;
    border: 1px solid $color-6;

    img {
        display: block;
        width: 90%;
        height: 40vh;
        object-fit: cover;
        margin-top: 3vh;
    }

    #sub-text {
        width: 80%;
        display: grid;
        align-items: center;
        justify-items: center;
    
        h2 {
            @include h-font(1.5rem);
            font-weight: bold;
            color: $color-6;
            text-align: center;
            margin-bottom: 1em;
            padding-bottom: 0.3em;
            box-shadow: 0px 1px 1px $color-6;
            width: 90%;
        }
        
        p {
            @include p-font(1rem);
            color: $color-6;
            text-align: center;
            width: 100%;
            margin-bottom: 2vh;
        }

        .chef-name {
            @include p-font(1rem);
            color: $color-6;
            text-align: center;
            width: 100%;
            font-weight: bold;
            margin-bottom: 2vh;
        }
    }
}
/*Sub-content ends*/

/*Order-info starts*/
#order-info-mobile {
    width: 80%;
    min-height: 25vh;
    display: grid;
    row-gap: 2vh;
    align-items: center;
    justify-items: center;

    @import 'a-button-with-background-mobile';
}

#order-info-tablet-desktop {
    display: none;
}
/*Order-info ends*/

/*Bottom-content starts*/
#bottom-content {
    width: 90%;
    min-height: 100vh;
    display: grid;
    row-gap: 2vh;
    justify-content: center;
    align-content: center;

    .bottom-image {
        display: block;
        
        img {
            width: 100%;
            height: 45vh;
            object-fit: cover;
        }
    }

    .bottom-text {
        width: 100%;
        display: grid;
        row-gap: 1vh;
        justify-items: center;
        align-items: center;
        border-top: 1px solid $color-6;
        border-bottom: 1px solid $color-6;
        padding: 1em;

        h2{
            height: 5vh;
            @include h-font(1.5rem);
            font-weight: bold;
            color: $color-6;
            height: 5vh;
        }

        p {
            min-height: 5vh;
            width: 90%;
            @include p-font(1rem);
            color: $color-6;
        }
    }
}
/*Content ends*/

/*Footer starts*/
@import 'footer-mobile';
/*Footer ends*/

@media only screen and (min-width: 600px) {
    @import '_style-about-tablet';
}