@import '_mixins';
@import '_variables';

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    display: grid;
    justify-items: center;
    align-items: center; 
}

/*Header starts*/
@import '_header-mobile';
/*Header ends*/

/*Content starts*/
#content {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-row-gap: 3vh;
    justify-items: center;
    align-items: center;
}

#main-title {
    width: 100%;
    min-height: 70vh;
    background: url(../images/home-backgroundimage-pizza.jpg);
    background-size: cover;
    background-position: left;
    opacity: 0.9;
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    justify-content: end;

    div {
    
        h1 {
            @include h-font(2.5rem);
            color: $color-1;
            font-weight: normal;
            width: 100%;
            text-align: left;
            line-height: 8vh;
            text-shadow: 0 2px 2px $color-6;
            align-self: end;
            padding-right: 1em;
        }

        a {
            @include a-font(1rem, $color-1);
            width: 80%;
            border: 0.1em solid $color-1;
            text-align: center;
            border-radius: 1em;
            align-self: end;
            margin-top: 4vh;
    
            &:link, &:visited {
                color: $color-1;
                background-color: $color-3;
            }
        
            &:hover, &:active {
                color: $color-3;
                background-color: $color-1;
            }
        }
    
        p {
            display: none;
        }
    }
}

#go-to-top {
    position: fixed;
    bottom: 45vh;
    right: 0;
    width: 10%;
    min-height: 20vh;
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 10;
    
    a {
        @include a-font(0.8rem, $color-1);  
        width: 100%;
        padding: 0.6em;
        box-shadow: 1px 1px 2px $color-5; 
        opacity: 1;

        &:link, &:visited {
            background-color: $color-3;
        }
                
        &:hover, &:active {
            background-color: $color-5;
            
        }
    }   
}

#top-content {
    width: 100%;
    min-height: 80vh;
    display: grid;
    row-gap: 3vh;
    align-items: center;
    justify-items: center;
}
    
#sub-title {
    width: 80%;
    min-height: 40vh;

    h2 {
        @include h-font(1.5rem);
        color: $color-5;
        width: 100%;
        margin-bottom: 1em;
        padding-bottom: 0.3em;
        box-shadow: 0px 1px 1px $color-6;
    }
        
    p {
        @include p-font(1.1rem);
        text-align: center;
        color: $color-6;
        width: 100%;
        height: 100%;
        border: 1px solid $color-6;
        padding: 1em;
    }
}
            
#images-container {
    width: 80%;
    min-height: 50vh;
    display: grid;
    margin-top: 0.3em;
    row-gap: 2vh;
        
    .card-container {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        align-items: center;

        P {
            @include p-font(2rem);
            width: 70%;
            color: $color-1;
            font-weight: bold;
            text-shadow: 1px 1px 1px $color-6;
            opacity: 0.8;
            padding: 10px;
            position: absolute;
            z-index: 2;
        }
              
        img {
            width: 100%;
            height: 50vh;
            object-fit: cover;
        }
    }                          
}

#rank {
    width: 80%;
    min-height: 30vh;
    display: grid;
    row-gap: 3vh;
    justify-items: center;
    align-items: center;
    background-color: $color-5;
    border-radius: 20px;

    p {
        @include p-font(1.5rem);
        color: $color-1;
        padding: 0.6em;
    }
}

#sub-content-1 {
    width: 100%;
    min-height: 50vh;
    display: grid;
    row-gap: 2vh;
    justify-items: center;
    align-items: center;
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background: url(../images/home-background-vegetables.jpg);
    background-size: cover;
    background-position: top;
    padding-top: 0.3rem;
    padding-bottom: 0.6rem;
    margin-top: 0.6em;

    #video-responsive {
        width: 100%;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        height: 0;
    
        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

#review {
    width: 100%;
    min-height: 35vh;
    display: grid;
    justify-items: center;
    align-items: center;
    

    #review-container {
        width: 80%;
        min-height: 35vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 2vh;
        justify-items: center;
        align-items: center;
        background-color: $color-1;
        opacity: 0.8;
        padding: 1em;
        margin-top: 1em;
        
        .review-item {
            display: grid;
            justify-items: center;
            align-items: center;
            
            h2 {
                @include h-font(1.5rem);
                color: $color-5;
                font-weight: bold;
                margin-top: 0.4em;
            }
    
            p {
                @include p-font(1rem);
                color: $color-6;
            }
        }
    }

    #yelp-review {
        width: 100%;
        min-height: 8vh;
        display: grid;
        justify-items: center;
        align-items: center;
    
        a {
            @include a-font(1.2rem, $color-1);
            width: 50%;
            margin: 0.3em 2em 0 1.5em;
            text-shadow: 1px 1px 1px $color-6;
            border-radius: 1em;
            padding: 0.2em;
            
            &:link, &:visited {
                color: $color-1;
                border: 2px solid $color-1;
            }
                
            &:hover, &:active {
                color: $color-1;
                border: 2px solid $color-2;
            }
        }
    }
}

#order-mobile {
    width: 80%;
    min-height: 50vh;
    display: grid;
    row-gap: 2vh;
    align-items: center;
    justify-items: center;
    
    a.button-1 {
        @include a-font(1.8rem, $color-1);
        text-decoration: transparent;
        text-align: center;
        
        &:link, &:visited {
            color: $color-2;
        }
                
        &:hover, &:active {
            color: $color-5;
            font-size: 2rem;
        }
    }
    
    .order-info {
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        justify-items: center;

        a {
            @include a-font(1rem, $color-1);  
            width: 50vw;
            margin: 0.3em 2em 0em 2em;
            padding: 0.4em;
            background: url(../images/home-background-vegetables.jpg);
            background-size: cover;
            background-position: top;
            border-radius: 1em;
            box-shadow: 1px 1px 2px $color-4;

            &:link, &:visited {
                color: $color-1;
                border: 2px solid $color-6;  
            }
                
            &:hover, &:active {
                color: $color-2;
                border: 2px solid $color-5; 
            }
        }
    }
}

#order-tablet-desktop {
    display: none;
}
/*Content ends*/

/*Footer starts*/
@import 'footer-mobile';
/*Footer ends*/

@media only screen and (min-width: 600px) {
    @import '_style-home-tablet';

@media only screen and (min-width: 1024px) {
    @import 'style-home-desktop';
    }





}






