@import '_mixins';
@import '_variables';

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100%;
    display: grid;
    justify-items: center;
    align-items: center; 
}

/*Header starts*/
@import '_header-mobile';
/*Header ends*/

/*Content starts*/
#content {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-row-gap: 2vh;
    justify-items: center;
    align-items: center;
}

#main-title {
    width: 100%;
    min-height: 70vh;
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background: url(../images/menu-background-image.jpg);
    background-size: cover;
    background-position: top;
    opacity: 0.9;
    display: grid;
    grid-template-columns: 25% 75%;
    align-items: center;
    justify-content: center;

    div {
        display: grid;
        row-gap: 2vh;

        h1 {
            @include h-font(2.5rem);
            color: $color-1;
            font-weight: bold;
            line-height: 8vh;
            width: 100%;
            text-align: left;
            text-shadow: 0 2px 2px $color-6;
        }
    
        p {
            @include p-font(1.5rem);
            color: $color-1;
            font-weight: normal;
            line-height: 5vh;
            background-color: $color-5;
            padding: 0.3em 0.3em 0.3em 0.6em;
            text-shadow: 0 2px 2px $color-6;
            text-align: left;
            margin-bottom: 1vh;
        }
    
        a {
            @include a-font(1rem, $color-1);
            width: 40vw;
            border: 0.1em solid $color-1;
            text-align: center;
            border-radius: 0.8em;
    
            &:link, &:visited {
                color: $color-1;
                background-color: $color-3;
                padding: 0.3em;
            }
        
            &:hover, &:active {
                width: 70vw;
                color: $color-3;
                background-color: $color-1;
                padding: 0.4em;
                font-size: 1.2rem;
            }
        }
    
        h2 {
            display: none;
        }
    } 
}

@import '_menu-dropdown-menu-mobile';

#menu-desktop {
    display: none;
}

#go-to-top {
    position: fixed;
    bottom: 45vh;
    left: 90vw;
    width: 5%;
    min-height: 20vh;
    display: grid;
    align-items: center;
    justify-items: center;
    z-index: 20;
    
    a {
        @include a-font(0.8rem, $color-1);  
        width: 100%;
        padding: 0.6em;
        box-shadow: 1px 1px 2px $color-5; 
        opacity: 1;

        &:link, &:visited {
            background-color: $color-3;
        }
                
        &:hover, &:active {
            background-color: $color-5;
            
        }
    }   
}

@import '_menu-menu-content-mobile';

#order-info {
    width: 80%;
    min-height: 15vh;
    display: grid;
    align-items: center;
    justify-items: center;
    padding-bottom: 2vh;

    a {
        @include a-font(1rem, $color-1);  
        margin: 0.3em 2em 0em 2em;
        padding: 0.4em;
        background: url(../images/home-background-vegetables.jpg);
        background-size: cover;
        background-position: top;
        border-radius: 1em;
        box-shadow: 1px 1px 2px $color-4;

        &:link, &:visited {
            color: $color-1;
            border: 2px solid $color-6;  
        }
            
        &:hover, &:active {
            color: $color-2;
            border: 2px solid $color-5; 
        }
    }
}
/*Content ends*/

/*Footer starts*/
@import '_footer-mobile';
/*Footer ends*/

@media only screen and (min-width: 600px) {
    @import '_style-menu-tablet';
}

@media only screen and (min-width: 1024px) {
    @import 'style-menu-desktop';
}