/*Color palette*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Header starts*/
#header {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#mobile-header {
  width: 100%;
  min-height: 10vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 2fr 6fr 2fr;
      grid-template-columns: 2fr 6fr 2fr;
}

#mobile-header #mobile-header-logo img {
  width: 100%;
  padding: 0.3em;
}

#mobile-header #mobile-hamburger-menu #mobile-menu-checkbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 5;
}

#mobile-header #mobile-hamburger-menu #mobile-menu-checkbox:checked ~ #mobile-header-menu {
  top: 10vh;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#mobile-header #mobile-hamburger-menu #mobile-hamburger-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  z-index: 4;
  position: relative;
}

#mobile-header #mobile-hamburger-menu #mobile-hamburger-container .mobile-hamburger-line {
  width: 30px;
  height: 4px;
  background-color: black;
}

#mobile-header #mobile-hamburger-menu #mobile-header-menu {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 40%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -15vh;
  opacity: 0;
  right: 0;
  min-height: 15vh;
  background-color: #bb9457ff;
  z-index: 3;
  -webkit-box-shadow: 2px 2px 1px white;
          box-shadow: 2px 2px 1px white;
}

#mobile-header #mobile-hamburger-menu #mobile-header-menu a {
  display: block;
  font-size: 0.8rem;
  font-family: 'Open Sans';
  font-weight: bold;
  font-stretch: normal;
  text-decoration: none;
  text-align: center;
  color: white;
}

#mobile-header #mobile-hamburger-menu #mobile-header-menu a:link, #mobile-header #mobile-hamburger-menu #mobile-header-menu a:visited {
  color: white;
}

#mobile-header #mobile-hamburger-menu #mobile-header-menu a:hover {
  color: #99582aff;
}

#mobile-header #mobile-hamburger-menu #mobile-header-menu a:active {
  color: #99582aff;
}

#mobile-header #mobile-hamburger-menu #mobile-header-menu a.currentLink {
  color: #6f1d1bff;
  font-size: 0.9rem;
  font-weight: bold;
}

#desktop-header {
  display: none;
}

/*Header ends*/
/*Content starts*/
#content {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 3vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-title {
  width: 100%;
  min-height: 70vh;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: url(../images/about-backgroundimage-pizza.jpg);
  background-size: cover;
  background-position: top;
  opacity: 0.9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-title div {
  display: -ms-grid;
  display: grid;
  row-gap: 2vh;
}

#main-title div h1 {
  font-family: 'Open Sans';
  font-size: 2.5rem;
  text-align: center;
  color: white;
  font-weight: bold;
  text-align: left;
  line-height: 8vh;
  width: 50%;
  text-shadow: 0 2px 2px #99582aff;
  margin-top: 10vh;
}

#main-title div p {
  display: block;
  font-size: 1.2rem;
  font-family: 'Open Sans';
  text-align: center;
  line-height: 1.5em;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: left;
  line-height: 2em;
  width: 80%;
}

#main-title div h2 {
  display: none;
}

#main-title div a {
  display: block;
  font-size: 1rem;
  font-family: 'Open Sans';
  font-weight: bold;
  font-stretch: normal;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 40vw;
  border: 0.1em solid white;
  text-align: center;
}

#main-title div a:link, #main-title div a:visited {
  color: white;
  background-color: #99582aff;
  padding: 0.3em;
}

#main-title div a:hover, #main-title div a:active {
  color: #99582aff;
  background-color: white;
  padding: 0.4em;
  font-size: 1.2rem;
}

#go-to-top {
  position: fixed;
  bottom: 15vh;
  right: 5vw;
  width: 5%;
  min-height: 20vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  z-index: 10;
}

#go-to-top a {
  display: block;
  font-size: 0.8rem;
  font-family: 'Open Sans';
  font-weight: bold;
  font-stretch: normal;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 100%;
  padding: 0.6em;
  -webkit-box-shadow: 1px 1px 2px #6f1d1bff;
          box-shadow: 1px 1px 2px #6f1d1bff;
  opacity: 1;
}

#go-to-top a:link, #go-to-top a:visited {
  background-color: #99582aff;
}

#go-to-top a:hover, #go-to-top a:active {
  background-color: #6f1d1bff;
}

#story-container {
  width: 90%;
  min-height: 60vh;
  display: -ms-grid;
  display: grid;
  row-gap: 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.story-item {
  width: 100%;
  min-height: 50vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  border: 1px solid black;
}

.story-item .item-image {
  width: 100%;
  min-height: 30vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.story-item .item-image img {
  display: block;
  width: 90%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 3vh;
}

.story-item .item-text {
  width: 90%;
  line-height: 4vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 2vh;
}

.story-item .item-text h2 {
  font-family: 'Open Sans';
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
  -webkit-box-shadow: 0px 1px 1px black;
          box-shadow: 0px 1px 1px black;
  width: 90%;
}

.story-item .item-text p {
  font-size: 1rem;
  font-family: 'Open Sans';
  text-align: center;
  line-height: 1.5em;
  color: black;
  text-align: center;
  width: 90%;
  margin-bottom: 2vh;
}

/*Order-info starts*/
#order-info-mobile {
  width: 80%;
  min-height: 25vh;
  display: -ms-grid;
  display: grid;
  row-gap: 2vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#order-info-mobile .button-background {
  display: block;
  font-size: 1rem;
  font-family: 'Open Sans';
  font-weight: bold;
  font-stretch: normal;
  text-decoration: none;
  text-align: center;
  color: white;
  width: 40vw;
  padding: 0.4em;
  background: url(../images/home-background-vegetables.jpg);
  background-size: cover;
  background-position: top;
  border-radius: 1em;
  -webkit-box-shadow: 1px 1px 2px #afacac;
          box-shadow: 1px 1px 2px #afacac;
}

#order-info-mobile .button-background:link, #order-info-mobile .button-background:visited {
  color: white;
  border: 2px solid black;
}

#order-info-mobile .button-background:hover, #order-info-mobile .button-background:active {
  color: #bb9457ff;
  border: 2px solid #6f1d1bff;
}

#order-info-tablet-desktop {
  display: none;
}

/*Order-info ends*/
/*Bottom-content starts*/
#bottom-content {
  width: 90%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  row-gap: 2vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#bottom-content .bottom-image {
  display: block;
}

#bottom-content .bottom-image img {
  width: 100%;
  height: 45vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#bottom-content .bottom-text {
  width: 100%;
  display: -ms-grid;
  display: grid;
  row-gap: 1vh;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 1em;
}

#bottom-content .bottom-text h2 {
  height: 5vh;
  font-family: 'Open Sans';
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: black;
  height: 5vh;
}

#bottom-content .bottom-text p {
  min-height: 5vh;
  width: 90%;
  font-size: 1rem;
  font-family: 'Open Sans';
  text-align: center;
  line-height: 1.5em;
  color: black;
}

/*Content ends*/
/*Footer starts*/
#footer {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: #afacac;
  margin-top: 3vh;
}

#footer #contact-info {
  width: 95%;
  min-height: 30vh;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#footer #contact-info .info {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 0.6em;
}

#footer #contact-info .info h3 {
  font-family: 'Open Sans';
  font-size: 1rem;
  text-align: center;
  color: white;
}

#footer #contact-info .info p {
  font-size: 0.8rem;
  font-family: 'Open Sans';
  text-align: center;
  line-height: 1.5em;
  line-height: 1.7;
  color: white;
}

#footer #copyright {
  width: 100%;
  height: 5vh;
  background-color: #6f1d1bff;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#footer #copyright p {
  font-size: 0.8rem;
  font-family: 'Open Sans';
  text-align: center;
  line-height: 1.5em;
  width: 100%;
  color: white;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Footer ends*/
@media only screen and (min-width: 600px) {
  #mobile-header {
    display: none;
  }
  #desktop-header {
    width: 100%;
    min-height: 10vh;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: 1fr 2fr 4fr 0.5fr;
        grid-template-columns: 1fr 2fr 4fr 0.5fr;
  }
  #desktop-header #desktop-header-logo {
    width: 80%;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #desktop-header #desktop-header-logo img {
    width: 100%;
    height: auto;
  }
  #desktop-header #desktop-menu {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1vw;
            column-gap: 1vw;
  }
  #desktop-header #desktop-menu a {
    display: block;
    font-size: 1rem;
    font-family: 'Open Sans';
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 100%;
    padding: 0.2em 0.4em 0.2em 0.4em;
  }
  #desktop-header #desktop-menu a:link, #desktop-header #desktop-menu a:visited {
    border-bottom: 3px solid black;
  }
  #desktop-header #desktop-menu a:hover {
    border-bottom: 3px solid #99582aff;
  }
  #desktop-header #desktop-menu a:active {
    border-bottom: 3px solid #99582aff;
  }
  #desktop-header #desktop-menu a.currentLink {
    border-bottom: 3px solid #bb9457ff;
    color: #bb9457ff;
  }
  #main-title {
    min-height: 45vh;
    background: url(../images/about-backgroundimage-pizza-2.jpg);
    -ms-grid-columns: 10% 90%;
        grid-template-columns: 10% 90%;
  }
  #main-title div h1 {
    font-family: 'Open Sans';
    font-size: 3rem;
    text-align: center;
    width: 100%;
    line-height: 6vh;
    text-align: left;
    margin-top: 0;
  }
  #main-title div a {
    display: none;
  }
  #main-title div p {
    font-size: 1.5rem;
    font-family: 'Open Sans';
    text-align: center;
    line-height: 1.5em;
    text-align: left;
  }
  #main-title div h2 {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    text-align: center;
    color: #bb9457ff;
    display: block;
    text-align: left;
  }
  #go-to-top {
    right: 0;
  }
  #story-container {
    width: 100%;
    min-height: 0;
    display: -ms-grid;
    display: grid;
    row-gap: 2vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  .story-item {
    width: 90%;
    min-height: 40vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    border-spacing: 10px;
  }
  .story-item .item-image {
    width: 90%;
    height: 32vh;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
  }
  .story-item .item-image img {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
  .story-item .item-text {
    width: 100%;
    height: 32vh;
    line-height: 4vh;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    margin-top: 0;
  }
  .story-item .item-text h2 {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 1vh;
    padding-bottom: 0.3em;
    -webkit-box-shadow: 0px 1px 1px black;
            box-shadow: 0px 1px 1px black;
    width: 90%;
  }
  .story-item .item-text p {
    font-size: 1rem;
    font-family: 'Open Sans';
    text-align: center;
    line-height: 1.5em;
    color: black;
    text-align: center;
    width: 90%;
    margin-bottom: 3vh;
  }
  /*Order-info starts*/
  #order-info-mobile {
    display: none;
  }
  #order-info-tablet-desktop {
    width: 80%;
    min-height: 10vh;
    display: -ms-grid;
    display: grid;
    row-gap: 2vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }
  #order-info-tablet-desktop .button-background {
    display: block;
    font-size: 1.5rem;
    font-family: 'Open Sans';
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 40vw;
    padding: 0.8em;
    background: url(../images/home-background-vegetables.jpg);
    background-size: cover;
    background-position: top;
    border-radius: 1em;
    -webkit-box-shadow: 1px 1px 2px #afacac;
            box-shadow: 1px 1px 2px #afacac;
  }
  #order-info-tablet-desktop .button-background:link, #order-info-tablet-desktop .button-background:visited {
    color: white;
    border: 2px solid black;
  }
  #order-info-tablet-desktop .button-background:hover, #order-info-tablet-desktop .button-background:active {
    color: #bb9457ff;
    border: 2px solid #6f1d1bff;
  }
  /*Order-info ends*/
  /*Bottom-content starts*/
  #bottom-content {
    min-height: 80vh;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #bottom-content .bottom-image {
    width: 100%;
  }
  #bottom-content .bottom-image img {
    height: 30vh;
  }
  /*Content ends*/
  /*Footer starts*/
  #footer #contact-info {
    width: 95%;
    min-height: 15vh;
    -ms-grid-columns: 1.2fr 1fr 1.2fr;
        grid-template-columns: 1.2fr 1fr 1.2fr;
    -webkit-column-gap: 1vw;
            column-gap: 1vw;
  }
  #footer #contact-info .info h3 {
    font-family: 'Open Sans';
    font-size: 1.2rem;
    text-align: center;
  }
  #footer #contact-info .info p {
    font-size: 1rem;
    font-family: 'Open Sans';
    text-align: center;
    line-height: 1.5em;
    line-height: 1.8;
  }
  #footer #copyright p {
    font-size: 1rem;
    font-family: 'Open Sans';
    text-align: center;
    line-height: 1.5em;
  }
  /*Footer ends*/
}

@media only screen and (min-width: 1024px) {
  #desktop-header {
    -ms-grid-columns: 1fr 3fr 3fr 0.5fr;
        grid-template-columns: 1fr 3fr 3fr 0.5fr;
  }
  #desktop-header #desktop-header-logo {
    width: 50%;
    margin: 0.6em;
  }
  #desktop-header #desktop-menu a {
    display: block;
    font-size: 1rem;
    font-family: 'Open Sans';
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    color: black;
  }
  #main-title {
    min-height: 40vh;
    background: url(../images/about-backgroundimage-pizza-3.jpg);
    background-position: right;
  }
  #main-title div h1 {
    font-family: 'Open Sans';
    font-size: 3rem;
    text-align: center;
    width: 100%;
    line-height: 6vh;
    text-align: left;
    margin-top: 0;
  }
  #main-title div p {
    font-size: 1.5rem;
    font-family: 'Open Sans';
    text-align: center;
    line-height: 1.5em;
    text-align: left;
    width: 100%;
  }
  #main-title div h2 {
    font-family: 'Open Sans';
    font-size: 1.5rem;
    text-align: center;
    color: #bb9457ff;
    display: block;
    text-align: left;
  }
  #go-to-top {
    bottom: 14vh;
  }
  #go-to-top a {
    display: block;
    font-size: 1rem;
    font-family: 'Open Sans';
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    color: white;
  }
  #story-container {
    width: 80%;
    min-height: 100vh;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 2vw;
            column-gap: 2vw;
  }
  .story-item {
    width: 100%;
    min-height: 100vh;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-box-shadow: 2px 2px 2px #afacac;
            box-shadow: 2px 2px 2px #afacac;
  }
  .story-item .item-image {
    height: 40vh;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    margin-top: 2vh;
  }
  .story-item .item-text {
    min-height: 55vh;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    margin-top: 3vh;
  }
  .story-item .item-text h2 {
    height: 5vh;
  }
  .story-item .item-text p {
    font-size: 0.9rem;
    font-family: 'Open Sans';
    text-align: center;
    line-height: 1.5em;
    color: black;
    text-align: center;
    width: 90%;
    margin-bottom: 2vh;
    line-height: 4vh;
  }
  #order-info-tablet-desktop {
    width: 80%;
    min-height: 30vh;
    row-gap: 0;
  }
  #order-info-tablet-desktop .button-background {
    display: block;
    font-size: 1.8rem;
    font-family: 'Open Sans';
    font-weight: bold;
    font-stretch: normal;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 40vw;
    padding: 1.2em;
  }
  #bottom-content {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3vh;
  }
  #bottom-content .bottom-image img {
    width: 100%;
    height: 45vh;
  }
  /*Footer starts*/
  #footer #contact-info {
    width: 90%;
    min-height: 20vh;
    -ms-grid-columns: 6fr 2fr 6fr;
        grid-template-columns: 6fr 2fr 6fr;
    -webkit-column-gap: 1vw;
            column-gap: 1vw;
  }
  #footer #contact-info .info h3 {
    font-family: 'Open Sans';
    font-size: 1rem;
    text-align: center;
  }
  #footer #contact-info .info p {
    font-size: 0.9rem;
    font-family: 'Open Sans';
    text-align: center;
    line-height: 1.5em;
    line-height: 1.8;
  }
  #footer #copyright {
    height: 8vh;
  }
  #footer #copyright p {
    font-size: 0.9rem;
    font-family: 'Open Sans';
    text-align: center;
    line-height: 1.5em;
  }
  /*Footer ends*/
}
/*# sourceMappingURL=style-about.css.map */